@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1200px;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        padding: 0 24px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}

.first-element-gradient {
    @apply first:bg-gradient-to-r first:from-[#191A23] first:to-[#2A2B38] first:text-white p-8;
}